<nav>
  @if (userService.isConnected()) {

    

    <!-- =========================
         LEFT NAV
    ========================== -->
    <div class="nav-left">
      @if(routes.isInfirmier){

      <a routerLink="/">Accueil</a>
      <a routerLink="/analysenuit">Analyse nuit</a>
      <a routerLink="/analysecpap">Suivi cpap jour</a>


    }

      @if(routes.isMedecin){

      <a routerLink="/">Accueil</a>
      <a href="http://192.168.0.211:8501" target="_blank">Dashboard</a> 
      <a href="http://192.168.0.211:8501" target="_blank">Rapport nuit</a>

    }

    @if(routes.isRh){

      <a routerLink="/">Accueil</a>
      <a routerLink="/choixperso">Modification personnel</a>

    }
      
      
    </div>

    <!-- =========================
         CENTER (compte)
    ========================== -->
    <div class="nav-center">
      <span class="job-label">
        Compte : {{ routes.job()?.source?.toUpperCase() }}
      </span>
    </div>

    <!-- =========================
         RIGHT USER AREA
    ========================== -->
    <div class="user-section">

      <span class="user-text">
        Bonjour {{ userService.user()?.prenom }}
      </span>

      <button
        #avatarBtn
        class="avatar-btn"
        type="button"
        (click)="toggleUserMenu()">

        <span>
          {{ userService.user()?.prenom?.charAt(0)?.toUpperCase() }}
        </span>

      </button>

      @if (isOpened) {
        <div class="dropdown" #dropdownMenu>

          <a routerLink="/infouser" (click)="fermerUserParam()">
            Mon profil
          </a>

          <a
            class="logout"
            routerLink="/"
            (click)="userService.logOut(); fermerUserParam()">

            Se déconnecter
          </a>

        </div>
      }

    </div>

  } @else {

    <!-- =========================
         GUEST MODE
    ========================== -->
    <div class="nav-left">
      <a routerLink="/">Accueil</a>
      <a routerLink="/login">Connexion</a>
    </div>

  }
</nav>